<navbar></navbar>
<messages></messages>
<main>
    <div class="container">
        <form name="$ctrl.loginForm">
            <div ng-show="error" class="alert alert-danger">{{error}}</div>
            <div class="form-group">
                <label for="benutzer">Benutzer</label>
                <input type="text" class="form-control" id="benutzer" placeholder="Benutzername" ng-model="$ctrl.benutzername">
                <label for="benutzer">Passwort</label>
                <input type="password" class="form-control" id="passwort" placeholder="Passwort" ng-model="$ctrl.passwort">
            </div>
            <button type="submit" class="btn btn-primary" ng-click="$ctrl.submitLogin()">Submit</button>
            <button type="submit" class="btn btn-default">Cancel</button>
        </form>

    </div>
</main>