<navbar></navbar>
<messages></messages>
<main>
    <div class="container">
        <div class="jumbotron">
            <h1>{{ $ctrl.title }}</h1>
            <p>{{ $ctrl.welcomeMessage }}</p>
        </div>

        <div class="spacer"></div>

        <div class="container">
            <h2>Letzte Trainingseinheiten</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Datum</th>
                        <th>Benutzer</th>
                        <th>Ort</th>
                        <th style="white-space:nowrap;"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="w in $ctrl.workouts" ng-show="!$ctrl.filter">
                        <td>{{ w.datum | date:'dd.MM.yy' }}</td>
                        <td>{{ w.benutzername }}</td>
                        <td>{{ w.ort }}</td>
                        <td style="white-space:nowrap;">
                            <span ng-show="$ctrl.isMyWorkout(w)">
                                <a ui-sref="editwo({id: w.id})" title="Bearbeiten"><span class="glyphicon glyphicon-edit"></span></a>  |
                                <a ng-click="$ctrl.askAndDelete(w)" title="Loeschen"><span class="glyphicon glyphicon-remove"></span></a>
                            </span>
                        </td>
                    </tr>
                    <tr ng-repeat="m in $ctrl.myWorkouts" ng-show="$ctrl.filter">
                        <td>{{ m.datum | date:'dd.MM.yy' }}</td>
                        <td>{{ m.benutzername }}</td>
                        <td>{{ m.ort }}</td>
                        <td style="white-space:nowrap;">
                            <span>
                                <a ui-sref="editwo({id: m.id})" title="Bearbeiten"><span class="glyphicon glyphicon-edit"></span></a>  |
                                <a ng-click="$ctrl.askAndDelete(m)" title="Loeschen"><span class="glyphicon glyphicon-remove"></span></a>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="checkbox">
                <label style="padding-right:10px;"><input id="filter" type="checkbox" ng-model="$ctrl.filter"> nur eigene Trainingseinheiten anzeigen</label>
            </div>
        </div>

    </div>
</main>