<navbar></navbar>
<messages></messages>
<main>
    <style>
        .ng-table th {
            text-align: left;
        }
        @media only screen and (max-width: 767px) {
            .ng-table-counts {
                display: none;
            }
        }
        .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
            color: #C60018;
            background-color: white;
            border: none;
            border-bottom-color: transparent;
            cursor: default;
        }
        .nav-tabs {
            border-bottom: 1px solid #DDDDDD;
        }
        .tab-container {
            margin-top: 24px;
        }
        .weekday {
            float: left;
            width: 2.1em;
        }
        .colMinWithForDate {
            float: left;
            width: 100px;
        }
    </style>
    <div class="container">
        <div class="jumbotron">
            <h1>{{ $ctrl.title }}</h1>
            <p>{{ $ctrl.welcomeMessage }}</p>
        </div>

        <uib-tabset active="$ctrl.activeTab">
            <uib-tab index="0" select="$ctrl.setActiveTab(0)">

                <uib-tab-heading><h2>Letzte Trainingseinheiten</h2></uib-tab-heading>
                <div class="container tab-container">
                    <table ng-table="$ctrl.tableParamsWo" show-filter="true" class="table table-striped">
                        <thead>
                        <tr>
                            <th class="colMinWithForDate">Datum</th>
                            <th>Benutzer</th>
                            <th>Ort</th>
                            <th class="hidden-xs">Dauer</th>
                            <th class="hidden-xs">Belastung</th>
                            <th class="hidden-xs">Züge12</th>
                            <th class="hidden-xs">Züge23</th>
                            <th class="hidden-xs">Züge34</th>
                            <th style="white-space:nowrap;"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="w in $data track by w.id">
                            <td style="white-space:nowrap;">
                                <span class="weekday">{{ w.datum | date:'EEE' | weekdayfilter }}, </span>
                                <a ui-sref="viewwo({id: w.id})" title="Daten anzeigen">{{ w.datum | date:'dd.MM.yy' }}</a>
                            </td>
                            <td>{{ w.benutzername }}</td>
                            <td>{{ w.ort }}</td>
                            <td class="hidden-xs">{{ w.trainingszeit }}</td>
                            <td class="hidden-xs">{{ w.belastung }}</td>
                            <td class="hidden-xs">{{ w.zuege12 }}</td>
                            <td class="hidden-xs">{{ w.zuege23 }}</td>
                            <td class="hidden-xs">{{ w.zuege34 }}</td>
                            <td style="white-space:nowrap;">
                                <span ng-show="$ctrl.isMyWorkout(w)">
                                    <a ui-sref="editwo({id: w.id})" title="Bearbeiten"><span class="glyphicon glyphicon-edit"></span></a>  |
                                    <a ng-click="$ctrl.askAndDelete(w)" title="Loeschen"><span class="glyphicon glyphicon-remove"></span></a>
                                </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <div class="checkbox" ng-show="$ctrl.hasEgliSistersRole()">
                        <label style="padding-right:10px;">
                            <input id="filter" type="checkbox" ng-model="$ctrl.filter" ng-change="$ctrl.onFilterChanged($ctrl.filter)"> nur eigene Trainingseinheiten anzeigen</label>
                    </div>
                </div>
            </uib-tab>

            <uib-tab index="1" select="$ctrl.setActiveTab(1)">
                <uib-tab-heading><h2>Status</h2></uib-tab-heading>
                <div class="container tab-container">
                    <table ng-table="$ctrl.tableParamsStatus" show-filter="true" class="table table-striped">
                        <thead>
                        <tr>
                            <th class="colMinWithForDate">Datum</th>
                            <th ng-show="$ctrl.isTrainer()">Benutzer</th>
                            <th>Schlaf</th>
                            <th>Gefühl</th>
                            <th>Bemerkung</th>
                            <th style="white-space:nowrap;"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="s in $data track by s.id">
                            <td style="white-space:nowrap;"><span class="weekday">{{ s.datum | date:'EEE' | weekdayfilter }}, </span>{{ s.datum | date:'dd.MM.yy' }}</td>
                            <td ng-show="$ctrl.isTrainer()">{{ s.benutzername }}</td>
                            <td>{{ s.schlaf }}</td>
                            <td>{{ s.gefuehl }}</td>
                            <td>{{ s.bemerkung }}</td>
                            <td>
                                <span ng-show="$ctrl.isMyStatus(s)">
                                    <a ui-sref="editstatus({id: s.id})" title="Bearbeiten"><span class="glyphicon glyphicon-edit"></span></a>
                                </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </uib-tab>

        </uib-tabset>

    </div>
</main>