<navbar></navbar>
<messages></messages>
<main>
    <div class="container">
        <div class="jumbotron">
            <h1>{{ $ctrl.title }}</h1>
            <p>{{ $ctrl.welcomeMessage }}</p>
        </div>

        <div class="spacer"></div>

        <div class="container">
            <h2>Letzte Trainingseinheiten aller Benutzer</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Datum</th>
                        <th>Benutzer</th>
                        <th>Ort</th>
                        <th>Zeit (Minuten)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="w in $ctrl.workouts" >
                        <td>{{ w.datum }}</td>
                        <td>{{ w.benutzername }}</td>
                        <td>{{ w.ort }}</td>
                        <td>{{ w.trainingszeit }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</main>