<navbar xmlns="http://www.w3.org/1999/html"></navbar>
<main>
    <style>
        .full button span {
        background-color: limegreen;
        border-radius: 32px;
        color: black;
        }
        .partially button span {
        background-color: orange;
        border-radius: 32px;
        color: black;
        }
    </style>
    <div class="container">
        <div class="jumbotron">
            <div>
                <h1>
                    <small>Neue Trainingseinheit erfassen...</small>
                </h1>
            </div>
        </div>
        <div class="container">
            <section ng-hide="vm.username">
                <div class="alert alert-warning" role="alert">
                    <strong>Warning!</strong> Bitte logge dich ein, bevor du eine neue Einheit erfasst!
                </div>
            </section>

            <form name="vm.workoutForm">

                <div class="form-group">
                    <input type="text"
                           class="form-control"
                           uib-datepicker-popup="dd.MM.yyyy"
                           id="datum"
                           ng-model="vm.datum"
                           is-open="vm.popup1.opened"
                           datepicker-options="dateOptions"
                           ng-required="true"
                           close-text="Schliessen"/>
                        <span class="input-group-btn">
                            <button type="button"
                                    class="btn btn-default"
                                    ng-click="vm.open1()">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                </div>
                <div class="form-group">
                    <label for="ort">Ort</label>
                    <select class="form-control" id="ort" ng-model="vm.ort">
                        <option>K44</option>
                        <option>Matten</option>
                        <option>Griffbar</option>
                        <option>O'Bloc</option>
                        <option>Magnet</option>
                        <option>Klettertreff Thun</option>
                        <option>Anderer Ort...</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="schlaf">Schlaf (Stunden)</label>
                    <input type="number" class="form-control" id="schlaf" ng-model="vm.schlaf">
                </div>
                <div class="form-group">
                    <label for="gefuehl">Gefühl</label>
                    <select class="form-control" id="gefuehl" ng-model="vm.gefuehl">
                        <option>4</option>
                        <option>3</option>
                        <option>2</option>
                        <option>1</option>
                    </select>
                </div>
                <div class="checkbox">
                    <label style="padding-right:10px;"><input id="lead" type="checkbox" ng-model="vm.lead"> Lead</label>
                    <label style="padding-right:10px;"><input id="bouldern" type="checkbox" ng-model="vm.bouldern"> Bouldern</label>
                    <label style="padding-right:10px;"><input id="kraftraum" type="checkbox" ng-model="vm.kraftraum"> Kraftraum</label>
                    <label style="padding-right:10px;"><input id="dehnen" type="checkbox" ng-model="vm.dehnen"> Dehnen</label>
                    <label style="padding-right:10px;"><input id="campus" type="checkbox" ng-model="vm.campus"> Campus</label>
                    <label style="padding-right:10px;"><input id="mentaltraining" type="checkbox" ng-model="vm.mentaltraining"> Mentaltraining</label>
                    <label style="padding-right:10px;"><input id="geraete" type="checkbox" ng-model="vm.geraete"> Geräte</label>
                </div>
                <div class="form-group">
                    <label for="belastung">Belastung (6-20)</label>
                    <select class="form-control" id="belastung" ng-model="vm.belastung">
                        <option>20</option>
                        <option>19</option>
                        <option>18</option>
                        <option>17</option>
                        <option>16</option>
                        <option>15</option>
                        <option>14</option>
                        <option>13</option>
                        <option>12</option>
                        <option>11</option>
                        <option>10</option>
                        <option>9</option>
                        <option>8</option>
                        <option>7</option>
                        <option>6</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="trainingszeit">Trainingszeit (Minuten)</label>
                    <input type="number" class="form-control" id="trainingszeit" ng-model="vm.trainingszeit">
                </div>
                <div class="form-group">
                    <label for="zuege12">Anzahl Züge 1-2</label>
                    <input type="number" class="form-control" id="zuege12" ng-model="vm.zuege12">
                </div>
                <div class="form-group">
                    <label for="zuege23">Anzahl Züge 2-3</label>
                    <input type="number" class="form-control" id="zuege23" ng-model="vm.zuege23">
                </div>
                <div class="form-group">
                    <label for="zuege34">Anzahl Züge 3-4</label>
                    <input type="number" class="form-control" id="zuege34" ng-model="vm.zuege34">
                </div>
                <div class="form-group">
                    <label for="sonstiges">Sonstiges</label>
                    <input type="text" class="form-control" id="sonstiges" ng-model="vm.sonstiges">
                </div>


                <button type="submit" class="btn btn-primary" ng-click="vm.submitWorkout()">OK</button>
                <button type="submit" class="btn btn-default">Abbrechen</button>
            </form>

        </div>

        <div class="spacer"></div>

    </div>
</main>

<!--

        <div class="container">
            <section>
                <h2>Per $resource (REST) geladene Trainingseinheiten:</h2>

                <p>Im Viewmodel sind {{ vm.workouts.length }} Einheiten vorhanden</p>

                <p>Die erste Einheit fand statt:</p>
                <pre>{{ vm.workouts[0].ort }}</pre>

                <p>Die Einheit mit der Id {{ vm.workoutById.id }} fand statt:</p>
                <pre>{{ vm.workoutById.ort }}</pre>
            </section>

        </div>

                <section>
                    <h2>Per $resource (REST) geladene Posts</h2>

                    <p>Im Viewmodel sind {{ vm.posts.length }} Posts vorhanden</p>

                    <p>Der erste Post hat den Titel: </p>
                    <pre>{{ vm.posts[0].title }}</pre>

                    <p>Der Post mit der Id {{ vm.postById.id }} hat den Titel:</p>
                    <pre>{{ vm.postById.title }}</pre>
                </section>
-->
